---
layout: page
title: Salud-Zen Blog
permalink: /blog/
category: blog
---
<!-- Slider Start -->
<section id="global-header-blog">
  <section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Blog</h1>
          <p>Para no perderte nada consulta las entradas diarias del blog, ¡¡No dejes que te lo cuenten!!</p>
        </div>
      </div>
    </div>
  </div>
</section>
</section>

<section id="intro">

  <div class="container">
{% assign potsBlogs = site.posts | group_by_exp:"post", "post.categories" %}

{% for category in potsBlogs %}

  {% if category.name contains 'blog'%}
    {% assign postsByMonth = category.items | group_by_exp:"post", "post.date | date: '%-m'" %}

      {% for month in postsByMonth %}
      <h1> {% case month.name %}

        {% when '1' %}Enero
        {% when '2' %}Febrero
        {% when '3' %}Marzo
        {% when '4' %}Abril
        {% when '5' %}Mayo
        {% when '6' %}Junio
        {% when '7' %}Julio
        {% when '8' %}Agosto
        {% when '9' %}Septiembre
        {% when '10' %}Octubre
        {% when '11' %}Noviembre
        {% when '12' %}Diciembre
      {% endcase %}
      </h1>
      <ul>
        {% for post in month.items %}
          <div class="post-area">
            <div class="row">
              <div class="col-md-12","col-sm-12">
                  <a href="{{ site.url }}{{ site.baseurl }}/{{ post.url}}" class="bold">{{ post.title }}</a>
                  <p class="post-date">{{ post.date | date_to_long_string }}</p>
              </div>
            </div>


            <div class="row">
              <div class="col-md-4","col-sm-12">
                <div class="block">

                  <img src="{{ site.url }}{{ site.baseurl }}/{{ post.image }}"  alt="{{ post.title }} ">
                </div>
              </div>


              <div class="col-md-8","col-sm-12">
                <div class="block">
                  <p>
                  {{ post.content | strip_html | truncatewords: 50 }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </ul>


      {% endfor %}
  {% endif %}
{% endfor %}
</div>
</section>
