---
layout: page
title: Salud-Zen Escuela Macrobiotica
permalink: /cremas/
category: Cremas
---

    <!-- Slider Start -->
<section id="global-header-macrobiotica">
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Escuela de Macrobiótica, Medicina Oriental y Gestión de Emociones</h1>
                    <!--<p>La Sabiduría Macrobiótica es Única.<br> Alimentarse de esta manera no obedece a una moda pasajera sino que es la aplicación de las Leyes del Universo a la Alimentación y la Cocina.</p>-->
                </div>
            </div>
        </div>
    </div>
</section>
</section>



<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Cremas</h2>
            <p>La Macrobiótica hace posible Cocinar con CLARIDAD, SIMPLICIDAD Y PROPÓSITO
              <br>Aprender a Cocinar Rico es compatible con Comer Sano y estar Saludable
            </p>
         </div>

          {% for recipe in site.posts %}
            {% if recipe.categories contains 'Cremas' %}
            <div>
                <p><a href="{{ recipe.url | prepend: site.baseurl |prepend: site.url }}" class="bold" target="_blank"><span>{{ recipe.name }}</span> {{ recipe.title }}</a></p>
            </div>
            {% endif %}
        {% endfor %}

       </div>
    </div><!-- .col-md-7 close -->
    <div class="col-md-5 col-sm-12">
      <div class="block">

        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for recipe in site.categories.Cremas %}
            <div>
              <a href="{{ recipe.url | prepend: site.baseurl |prepend: site.url }}" class="bold" target="_blank">
                <p><span>{{ recipe.name }}</span> {{ recipe.title }}</p>
                <img src="{{ recipe.featured_image }}" alt="Receta - {{ recipe.name }}">
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div><!-- .col-md-5 close -->
  </div>
</div>
</section>

<!-- Call to action Start -->

<section  id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>¡Danos a conocer tus recetas!</h2>
          <p>Si quieres compartir alguna receta macrobiótica con nosotros, no dudes en hacernos llegar tu receta,
          estamos deseando probarla y poder compartirla desde nuestro blog.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Mándanos tu receta</a>
        </div>
      </div>
    </div>
  </div>
</section>

<p class="center-text" style="padding: 30px;">
  <a href="{{ site.url }}{{ site.baseurl }}/macrobiotica/">Volver a Escuela de Macrobiótica, Medicina Oriental y Gestión de Emociones</a>
</p>
