---
layout: page
title: Salud-Zen Consultas Terapias Naturales
permalink: /cterapias/
---

    <!-- Slider Start -->
<section id="global-header-consultas">
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Consultas de Terapias Naturales</h1>
                    <!--<p>La Sabiduría Macrobiótica es Única.<br> Alimentarse de esta manera no obedece a una moda pasajera sino que es la aplicación de las Leyes del Universo a la Alimentación y la Cocina.</p>-->
                </div>
            </div>
        </div>
    </div>
</section>
</section>




<!-- Call to action Start -->

<!-- Wrapper Start -->

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Consultas de Terapias Naturales</h2>
            <p></p>
         </div>
       </div>
    </div><!-- .col-md-7 close -->
    </div>
    {% if site.data.tnaturales.size > 0 %}
      {% for terapia in site.data.tnaturales %}
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="block">
          <br><b>{{terapia.name}}</b>
        </div>
      </div><!-- .col-md-4 close -->
          <div class="col-md-4 col-sm-12">
            <div class="block">
              <img src="{{ site.url }}{{ site.baseurl }}/{{ terapia.image }}" alt="{{terapia.name}}">
            </div>
          </div><!-- .col-md-4 close -->
          <div class="col-md-8 col-sm-12">
            <div class="block">
              <br>{{terapia.content}}
            </div><!-- .col-md-4 close -->
          </div>
        </div>
    {% endfor %}
  {% endif %}
</div>

<p class="center-text" style="padding: 30px;">
  <a href="{{ site.url }}{{ site.baseurl }}/consultas/">Volver a Consultas</a>
</p>

</section>
