---
layout: page
title: Salud-Zen Blog
permalink: /eventos2/
category: evento
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Consulta las últimas entradas</h1>
          <p>Para no perderte nada consulta las entradas diarias del blog, ¡¡No dejes que te lo cuenten!!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="portfolio-work">
    <div class="container">
      <div class="block">
        {% assign sorted-posts = site.posts | where: "categories","evento" %}
        {% assign sorted-posts2 = sorted-posts | where: "public","true" %}
        {% assign postsByMonth = sorted-posts2 | group_by_exp:"post", "post.date | date: '%-m'"|sort: 'date' | reverse %}
        {% for month in postsByMonth %}
        <div class="row">
          <div class="col-md-12">
            <h1> {% case month.name %}

                   {% when '1' %}Enero
                   {% when '2' %}Febrero
                   {% when '3' %}Marzo
                   {% when '4' %}Abril
                   {% when '5' %}Mayo
                   {% when '6' %}Junio
                   {% when '7' %}Julio
                   {% when '8' %}Agosto
                   {% when '9' %}Septiembre
                   {% when '10' %}Octubre
                   {% when '11' %}Noviembre
                   {% when '12' %}Diciembre
                 {% endcase %}
                 </h1>
             <ul>
               {%assign  events= month.items|sort: 'date' %}
               {% for post in events %}

                   <div class="portfolio-contant">
                     <ul id="portfolio-contant-active">
                       <li>
                         <a href="{{ post.url | prepend: site.baseurl }}" class="bold">
                         <img src="{{ site.url }}{{ site.baseurl }}/{{ post.image }}"  alt="{{ post.title }} ">
                         <div class="overly">
                           <div class="position-center">
                             <h2>
                             <p>{{ post.date_imparticion }}</p></h2>
                             <h1>{{ post.name }}</h1>
                             <p><i class="ion-clock"> &nbsp;&nbsp;{{ post.horario}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               <i class="fa fa-map-marker">&nbsp;&nbsp;{{ post.localizacion }}</i></p>

                           </div><!--position-center-->
                         </div><!--overly-->
                         </a>

                       </li>
                     </ul>
                   </div>

               {% endfor %}
               </ul>

               <br>
             </div>
           </div>
         {% endfor %}
 </div>
 </div>
 </section>
