---
layout: page
title: Salud-Zen Escuela Macrobiotica
permalink: /formacion/
---

    <!-- Slider Start -->
<section id="global-header-macrobiotica">
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Escuela de Macrobiótica, Medicina Oriental y Gestión de Emociones</h1>
                </div>
            </div>
        </div>
    </div>
</section>
</section>


<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Título de consultor y experto en cocina macrobiótica, medicina Natural, medicina Oriental y Gestión de emociones.</h2>
              <p>En la escuela proponemos la siguiente formación:

              <br><br>  Hacemos <b>seminarios de un día y cursos de fin de semana</b>  donde habrá una parte Teórica específica del contenido a tratar, una parte de Cocina práctica donde cocinaremos Recetas Curativas para Mejorar la Salud, basadas en la Nutrición Moderna y en la Sabiduría de Medicinas Ancestrales, todo esto,  acompañado de una Práctica de Gestión Emocional.

              <br><br>  Se podrá obtener el título de <b>Consultor en Macrobiótica, Medicina Oriental y Gestión de Emociones</b> tras cursar <b>300 horas</b> de los seminarios y cursos propuestos.

              <br><br>  De esta manera consideramos que nos adaptamos a la necesidad personal y social de cada momento, pudiendo cada persona elegir lo que más le resuena o necesita teniendo siempre acumulada toda aquella formación por si un día quisiera complementar hasta llegar a las 300 horas y, por que no, animarse a seguir creando Luz y Consciencia como consultor.

              <br><br> <u> * Importante:</u> Es imprescindible cursar el seminario de Introducción a las Bases de la Nutrición Energética y Cocina Macrobiótica para el mayor aprovechamiento del resto de seminarios y cursos.
              <br><br>  Así que, atentos al <a href="{{ site.url }}{{ site.baseurl }}/calendario/">calendario </a>donde iremos publicando con antelación todos los seminarios y cursos.

              </p>
         </div>
       </div>
    </div><!-- .col-md-7 close -->
    <div class="col-md-8 col-sm-12">
      <div class="block">


         <p><h3>Listado de <b>seminarios de un dia</b>:</h3>
           {% if site.data.seminario.size > 0 %}
             {% for seminario in site.data.seminario %}
             <div>
               <a href="#formacion" ><span>- {{ seminario.title }}</span> </a>

               </div>
             {% endfor %}
           {% endif %}

          </p>
       </div>
    </div><!-- .col-md-7 close -->
    <div class="col-md-4 col-sm-12">
      <div class="block">
        {% if site.data.seminario.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for seminario in site.data.seminario %}
            <a href="#formacion" >
            <div>
               <p><span>{{ seminario.title | strip_html | truncatewords: 5 }}</span> </p>
               <img src="{{ site.url }}{{ site.baseurl }}/{{ seminario.image }}" alt="Seminario-{{seminario.title}}">

            </div>
          </a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div><!-- .col-md-4 close -->

    <div class="col-md-8 col-sm-12">
      <div class="block">

         <p><h3>Listado de <b>cursos de fin de semana</b>:</h3>
           {% if site.data.cursos.size > 0 %}
             {% for curso in site.data.cursos %}
             <div>
               <a href="#formacion" ><span> - {{ curso.title }}</span> </a>

               </div>
             {% endfor %}
           {% endif %}

          </p>
       </div>
    </div><!-- .col-md-8 close -->
    <div class="col-md-4 col-sm-12">
      <div class="block">
        {% if site.data.cursos.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider2" class="owl-carousel">
            {% for curso in site.data.cursos %}
            <a href="#formacion" >
            <div>
               <p><span>{{ curso.title | strip_html | truncatewords: 5 }}</span> </p>
               <img src="{{ site.url }}{{ site.baseurl }}/{{ curso.image }}" alt="Curso-{{curso.title}}">
            </div>
          </a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div><!-- .col-md-4 close -->
  </div>
  </div>
  <p class="center-text" style="padding: 30px;">
    <a href="{{ site.url }}{{ site.baseurl }}/macrobiotica/">Volver a Escuela de Macrobiótica, Medicina Oriental y Gestión de Emociones</a>
  </p>
  </section>
