---
layout: page
title: Salud-Zen
permalink: /
---

<!-- Slider Start -->
<!--
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">ALMA DE ZEN</h1>
          <p class="animated fadeInUp"> Para todos aquellos que quieran responsabilizarse de su salud y despertar su consciencia.</p>
          <p class="animated fadeInUp">
            <table stlyle="background-color:#00FF00;"><tr><td>Próximos Eventos:
              <br>15/09 Curso Introducción ...
              <br>16/09 Taller Meditación
            <br>
            <a href="{{site.url}}{{site.baseurl}}/agenda" >Consultar Agenda</a>
          </td></tr></table>
        </p>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- Slider Start -->
<section class="section-white">
  <div class="container">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     <div class="col-md-12">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{site.url}}{{site.baseurl}}/img/index/ppal.jpg" alt="...">
          <div class="carousel-caption">
            <h2>Heading</h2>
          </div>
        </div>
        <div class="item">
          <img src="{{site.url}}{{site.baseurl}}/img/index/macro.jpg" alt="...">
          <div class="carousel-caption">
            <h2>Heading</h2>
          </div>
        </div>
        <div class="item">
          <img src="{{site.url}}{{site.baseurl}}/img/index/tnaturales.jpg" alt="...">
          <div class="carousel-caption">
            <h2>Heading</h2>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>

    </div>
    </div>

  </div>
</section>
<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Nuestros Pilares</h2>
      <!--  <p>Nuestro Pilares fundamentales de la salud son:</p>-->
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-body"></i>
        <!--  <i > <img src="{{ site.url }}{{ site.baseurl }}/img/macrobiotica.png"/>
</i>-->
          <h4><a href="{{site.url}}{{site.baseurl}}/work/" target="_new" style="text-decoration: none;color: inherit;">Escuela Macrobiótica, Medicina Oriental y Gestión de Emociones</a></h4>
          <p>A través de la que se ofrece: Formación de consultor y experto, Clases particulares de cocina Macrobiótica, Asesoramiento particular y acompañamiento en compra</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-flower"></i>
          <h4><a href="{{site.url}}{{site.baseurl}}/#" target="_new" style="text-decoration: none;color: inherit;">Escuela de Terapias Naturales y Artes Orientales</a></h4>
          <p>Donde se trabajan con diferentes técnicas: Chi nei Tsang, Reflexología podal, Metamórfica, Auriculoterapia, Acupuntura, Bioenergética y Terapia sacrocraneal</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-chatbubble"></i>

          <h4>Consultas de Nutrición y Salud, Terapias Naturales y Terapia Transpersonal</h4>
          <p>Consultas individuales con tratamientos totalmente personalizados y adaptados orientados al tratamiento de la persona desde un punto de vista holistico</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-information"></i>
          <h4>Difusión de Información</h4>
          <p>Difusión de información y conocimiento a través de la impartición de Talleres, Conferencias, Encuentros así como mediante la publicación de artículos de interés </p>
        </div>
      </div>

    </div>
  </div>
</section>


<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>¿Qué aportamos?</h2>
      <p>Mediante <b>Salud-Zen</b>, Escuela de Luz y Consciencia, se ofrecen conferencias gratuitas y formación específica en la <a href="{{site.url}}{{site.baseurl}}/work" target="_new">Escuela de Macrobiotica, Medicina Oriental y Gestión de Emociones</a> y la <a href="{{site.url}}{{site.baseurl}}/#" target="_new">Escuela de Terapias Naturales y Artes Orientales</a>. </p>
      <p>Además, a través de nuestras Consultas de Nutrición y Salud, Terapias Naturales y Terapia Transpersonal, nos convertimos en acompañantes de Seres Humanos en busca de su Desarrollo Físico, Emocional y Espiritual para que desde su implicación, nuestra orientación y el trabajo conjunto consigan iluminar la Luz que llevan dentro y entre todos iluminar cada día un poquito más el Mundo!</p>
      <p>El proyecto desea crecer y colaborar con otras asociaciones, organizaciones, hospitales, escuelas y otros países para que, desde una conciencia social que busca el bien para todos, consigamos respetar el planeta Tierra, nuestra Madre Naturaleza y desde ese respeto trabajar con pasión por crear un gobierno global, universal y un mundo en Paz.</p>
      <a href="{{site.url}}{{site.baseurl}}/agenda/" class="btn btn-view-works">Ver Agenda</a>
    </div>
  </div>
</div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Proyecto Luz y Consciencia</h2>
            <p>Este proyecto nace de uno de nuestros propósitos de vida: Poner a disposición del Universo y del Mundo Entero nuestro granito de arena aportando Conocimiento y creando Consciencia a través del Pensamiento, del Discernimiento y del Sentido Común para ser más Libres para elegir y así entre todos crear un Mundo Mejor, más sostenible, con más recursos naturales y desde una consciencia mucho más Humana, Global y Universal.</p>
         </div>
         <p>Formamos la <b>Escuela Salud-Zen</b> con la intención de enseñar al mundo lo que hemos descubierto desde nuestro propio cambio personal e interior haciendo llegar a las personas, que lo necesiten o les interese, esta dimensión y visión más profunda de la vida, más humana y espiritual desde la filosofía oriental y la sabiduría taoísta abarcando la Macrobiótica, las Medicinas Antiguas y hasta los principios del mismo Zen o el Budismo.</p>
         </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{site.url}}{{site.baseurl}}/img/index/wrapper-img.png" alt="Proyecto Luz y Consciencia">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Nuestro Equipo</h2>
        <!--   <p>A continuación presentamos al equipo que colabora en el proyecto para que así les puedas conocer un poco mejor:</p>-->



          <div class="col-md-4 col-sm-6" style="margin-left:15%">
            <div class="card-container">
              <div class="card">
              <div class="front">
                  <div class="cover">
                      <img src="{{ site.url }}{{ site.baseurl }}/images/rotating_card_thumb3.png"/>

                  </div>
                  <div class="user">
                      <img class="img-circle" src="{{ site.url }}{{ site.baseurl }}/img/team/txiki.jpg"/>
                  </div>
                  <div class="content">
                      <div class="main">
                          <h3 class="name">Txiki Soto</h3>
                          <p class="profession">Terapeuta Holístico y Coach de Salud.
                          </p>
                          <p class="text-center">"Aúna lo más actual de los conocimientos científicos modernos junto con terapias naturales y la sabiduría milenaria de medicinas antiguas"</p>
                      </div>
                      <div class="footer">
                          <i class="fa fa-mail-forward"></i> Auto Rotación
                      </div>
                  </div>
              </div> <!-- end front panel -->
              <div class="back">
                  <div class="header">
                      <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                  </div>
                  <div class="content">
                      <div class="main">
                          <h4 class="text-center">Información</h4>
                          <p class="text-center">Técnico en Emergencias Sanitarias del Servicio de Emergencias y Rescates de la CAM,
                            <br>Osteópata de la Selección Española de Hockey,
                            <br>Creador del Proyecto Luz y Consciencia, Director y Profesor de Salud-Zen Escuela de Luz y Consciencia,
                            <br>Aplicación de la Medicina Integrativa y Holística mediante la práctica de diferentes disciplinas.
                            <br>
                            <a href="{{ site.url }}{{ site.baseurl }}/team" class="btn btn-view-works">Conóceme más</a>
                          </p>

                        <!--  <div class="stats-container">
                              <div class="stats">
                                  <h4>235</h4>
                                  <p>
                                      Followers
                                  </p>
                              </div>
                              <div class="stats">
                                  <h4>114</h4>
                                  <p>
                                      Following
                                  </p>
                              </div>
                              <div class="stats">
                                  <h4>35</h4>
                                  <p>
                                      Projects
                                  </p>
                              </div>
                          </div>-->

                      </div>
                  </div>
                  <div class="footer">
                      <div class="social-links text-center">
                          <a href="#" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                          <a href="#"  class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                          <a href="#"  class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                      </div>
                  </div>
              </div> <!-- end back panel -->
          </div> <!-- end card -->
        </div>
      </div>

  <div class="col-md-4 col-sm-6" >
        <div class="card-container">
          <div class="card">
              <div class="front">
                  <div class="cover">
                      <img src="{{ site.url }}{{ site.baseurl }}/images/rotating_card_thumb.jpg"/>
                  </div>
                  <div class="user">
                      <img class="img-circle" src="{{ site.url }}{{ site.baseurl }}/img/team/vero.jpg"/>
                  </div>
                  <div class="content">
                      <div class="main">
                          <h3 class="name">Verónica Postigo</h3>
                          <p class="profession">Terapeuta transpersonal</p>
                          <p class="text-center">"Siempre dispuesta a cuidar y escuchar a todo el que requiere de ayuda activa y empatía a la hora de ser escuchado"</p>
                      </div>
                      <div class="footer">
                          <i class="fa fa-mail-forward"></i> Auto Rotatación
                      </div>
                  </div>
              </div> <!-- end front panel -->
              <div class="back">
                  <div class="header">
                      <h5 class="motto">"Soy la luz que ilumina mi camino y en consecuencia, los ojos de aquiellos que quieran ver"</h5>
                  </div>
                  <div class="content">
                      <div class="main">
                          <h4 class="text-center">Información</h4>
                          <p class="text-center">Enfermera en SUMMA112,
                            <br>Conocimientos en Psicología, Nutrición y Dietética,
                            <br>Especialista en Psicología Transpersonal y Terapia sistémica,
                            <br>Codirectora y Profesora de Salud-Zen, Escuela de Luz y Consciencia</p>
                            <br>
                            <a href="{{ site.url }}{{ site.baseurl }}/team" class="btn btn-view-works">Conóceme más</a>
                        <!--  <div class="stats-container">
                              <div class="stats">
                                  <h4>235</h4>
                                  <p>
                                      Followers
                                  </p>
                              </div>
                              <div class="stats">
                                  <h4>114</h4>
                                  <p>
                                      Following
                                  </p>
                              </div>
                              <div class="stats">
                                  <h4>35</h4>
                                  <p>
                                      Projects
                                  </p>
                              </div>
                          </div>-->

                      </div>
                  </div>
                  <div class="footer">
                      <div class="social-links text-center">
                          <a href="#" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                          <a href="#" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                          <a href="#" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                      </div>
                  </div>
              </div> <!-- end back panel -->
          </div> <!-- end card -->
        </div>
      </div>


        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!--
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->
