---
layout: page
title: Salud-Zen Escuela Macrobiotica
permalink: /recipe/
---

    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Escuela de Macrobiótica, Medicina Oriental y Gestión de Emociones</h1>
                    <p>La Sabiduría Macrobiótica es Única.<br> Alimentarse de esta manera no obedece a una moda pasajera sino que es la aplicación de las Leyes del Universo a la Alimentación y la Cocina.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Wrapper Start -->
<section id="intro">
  <h2 style="margin-left:5%;"><a href="{{ site.url }}{{ site.baseurl }}/" alt="Recetas - Desayuno">Macrobiotica </a> Recetas </h2>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Desayunos</h2>
            <p>La Macrobiótica hace posible Cocinar con CLARIDAD, SIMPLICIDAD Y PROPÓSITO
              <br>. Aprender a Cocinar Rico es compatible con Comer Sano y estar Saludable
            </p>
         </div>
         <p>
           <article class="post">
           	{% include post-heading.html post=page post_page=true %}
           	<div class="image">
           		<img src="{{ page.featured_image }}" alt="{{ page.title }}">
           	</div>

           	<div class="recipe-body">
           		{{ content }}
           	</div>

           	<ul id="recipe" class="recipe-overview">
           		<li title="Servings">{% include recipe-icon.html icon="quantity" %}<span>{{ page.recipe.servings }}</span></li>
           		<li title="Prep Time">{% include recipe-icon.html icon="time" %}<span>{{ page.recipe.prep }}</span></li>
           		<li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span>{{ page.recipe.cook }}</span></li>
           	</ul>

           	<div class="recipe-contents">
           		<div class="ingredients">
           			<h2>Ingredients</h2>
           			{{ page.recipe.ingredients_markdown | markdownify }}
           		</div>

           		<div class="directions">
           			<h2>Directions</h2>
           			{{ page.recipe.directions_markdown | markdownify }}
           		</div>
           	</div>
<!--
           	<div class="sharing">
           		{% assign share_url = page.url | absolute_url | cgi_escape %}
           		<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}">{% include social-icon.html icon="Facebook" %}</a>
           		<a class="twitter" href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text=I'm%20going%20to%20this%20event!">{% include social-icon.html icon="Twitter" %}</a>
           		<a class="google-plus" href="https://plus.google.com/share?url={{ share_url }}">{% include social-icon.html icon="Google Plus" %}</a>
           		<a class="pinterest" href="//pinterest.com/pin/create/link/?url={{ share_url }}&amp;description={{ page.description }}">{% include social-icon.html icon="Pinterest" %}</a>
           		<a class="email" href="mailto:?subject=I've%20found%20a%20great%20recipe&amp;body=Check%20it%20out%20-%20{{ share_url }}">{% include social-icon.html icon="Email" %}</a>
           	</div>
          -->
