<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.url }}{{ site.baseurl }}/team">Conócenos</a></li>
            <li><a href="{{ site.url }}/contact">Contacto</a></li>
            <li><a href="{{ site.url }}/blog">Blog</a></li>
            <li><a href="{{ site.url }}/terminos">Términos Legales</a></li>
          </ul>
        </div>
        <p>Copyright Salud-Zen &copy;2017. <a href="{{ site.url }}/terminos">All rights reserved.</a></p>
      </div>
    </div>
  </div>
</footer>
