<!-- Header Start -->
<header>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container" >
  <div class="row" >
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-nav" href="{{ site.url }}{{ site.baseurl }}/index.html">
              <img src="{{ site.url }}{{ site.baseurl }}/img/logo_nuevo2.png" alt="Logo1">
              <!--
              <div class="hidden-xs">
              </div>
              <div class="hidden-sm hidden-lg hidden-md"><img src="{{ site.url }}{{ site.baseurl }}/img/logo1.png" alt="Logo2"></div>
            -->
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right ">
                <li><a href="{{ site.url }}{{ site.baseurl }}/">Inicio</a></li>
                <!--<li><a href="{{ site.url }}{{ site.baseurl }}/proyecto">Proyecto</a></li>-->
                <li><a href="{{ site.url }}{{ site.baseurl }}/escuelas">Escuelas</a></li>
                <li><a href="{{ site.url }}{{ site.baseurl }}/consultas">Consultas</a></li>
                <li><a href="{{ site.url }}{{ site.baseurl }}/cursos2">Cursos</a></li>
                <li><a href="{{ site.url }}{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.url }}{{ site.baseurl }}/contact">Contacto</a></li>
                <li> <a class="online" href="https://www.cursosonlinesaludnatural.com/formacion/" target="_new">Online</a></li>
              </ul>
              <!--<div class= "navbar-right"><a href="https://www.cursosonlinesaludnatural.com" target="new" ><img src="{{site.url}}{{site.baseurl}}/img/index/logo_online6.png" alt="Escuela Online" align="center" width="100px"></a></div>-->

            </div><!-- /.navbar-collapse -->




          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
