---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">El <span class="bold">{{ page.date_text}}</span> de <span class="bold">{{ page.horario }}</span> en {{ page.localizacion }}</p>
            </div>
            <hr />
              <img src="{{ site.url }}{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">

              {% if page.image2 %}
                <img src="{{ site.url }}{{ site.baseurl }}/{{ page.image2 }}" alt="">
              {%endif%}
            <p>{{ content }}</p>
            <p>Si estás interesado, no olvides
            <a href="mailto:estilodevida@salud-zen.com?Subject=Reserva%20de%20Plaza: {{ page.name}} {{page.date|date: '%d-%-m-%Y' }}&body=Me gustaría reservar una plaza para: {{page.title}} del {{ page.date_text}}. Mis datos Personales son:%0A%0A   -Nombre:%0A%0A   -Apellidos:%0A%0A   -Fecha de nacimiento:%0A%0A   -Teléfono:%0A%0A    -Correo Electrónico:%0A%0A">reservar tu plaza</a>.
            </p>
            <p>Si tienes alguna consulta, ponte en <a href="{{site.url}}{{site.baseurl}}/contact">contacto</a> con nosotros:</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{site.url}}{{ site.baseurl }}/calendario/">Volver a Calendario</a>
</p>
