---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <div class="col-md-10 col-sp-10 col-xsp-12">
                <div class="block">
                  <h1>{{ page.title }}</h1>
                  <div class="post-info-wrapper">
                    <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
                  </div>
            </div>
            </div>
            <div class="col-md-2 col-sp-2 col-xsp-12">
                <div class="block">
            <!--  <p>{{ content }}</p>-->
                    <ul id="recipe" class="recipe-overview">
                   		<li title="Servings">{% include recipe-icon.html icon="quantity" %}<span>{{ page.recipe.servings }}</span></li>
                   		<li title="Prep Time">{% include recipe-icon.html icon="time" %}<span>{{ page.recipe.prep }}</span></li>
                   		<li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span>{{ page.recipe.cook }}</span></li>
                   	</ul>

                  </div>
                  </div>
              <hr />
              <div class="col-md-4 col-sp-4">
                  <div class="block">

              <div class="recipe-contents">
                <div class="ingredients">
                  <h2>Ingredientes</h2>
                  {{ page.recipe.ingredients_markdown | markdownify }}
                </div>
                </div>
                </div>
                </div>
                <div class="col-md-8 col-sp-8">
                    <div class="block">
                  <img src="{{ site.url }}{{ site.baseurl }}{{ page.featured_image }}" alt="{{ page.title }}">
                </div>
                </div>
                <div class="col-md-12 col-sp-12">
                    <div class="block">
                <div class="recipe-contents">
                <div class="directions">
                  <h2>Instrucciones</h2>
                  {{ page.recipe.directions_markdown | markdownify }}
                </div>
              </div>

          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.url }}{{ site.baseurl }}/desayuno">Volver a Desayunos, Almuerzos y Postres</a>
</p>
